/**border**/
* {
	margin:0;
	padding:0;
	list-style:none;
}
body {
   /* background: url("../images/body.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    color: #5F5F5F;
    font-family: "Helvetica","Segoe UI",Arial,Tahoma,"Hiragino Sans GB",华文黑体,STHeiti,微软雅黑,"Microsoft YaHei",文泉驿微米黑,"WenQuanYi Micro Hei",文泉驿正黑,"WenQuanYi Zen Hei","Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    line-height: 28px;
    min-height: 100%;
    position: relative;
}

.container-content{
	width:1320px;
	margin:0 auto;
}

.bs-docs-example {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
   /* position: relative;*/
}

.probox {
    display: inline;
    float: left;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 4px;
    overflow: hidden;
    width: 300px;
}

.pimg {
    border: 1px solid #EAEAEA;
    padding: 4px;
}

.pimg img {
    background: url("/shanghai/images/loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 200px;
    width: 280px;
}

.procont {
    color: #383434;
    padding-left: 10px;
    margin-top: 10px;
}
.procont a {
    color: #383434;
    text-decoration: none;
}
.procont a:hover {
    text-decoration: underline;
}
.procont h4 {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.procont h4 a {
    color: #032482;
    text-decoration: none;
}
.procont h4 a:hover {
    text-decoration: underline;
}

.sprice {
    color: #F30D0D;
}

/**menu start**/
img {
	border:0;
}
a {
	text-decoration:none;
	color:#333;
}
a:hover {
	color:#FF8400;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix10:after {
	content:".";
	display:block;
	height:10px;
	clear:both;
	visibility:hidden;
}
.h10{height:10px;}
.h15{height:15px;}

#header{width:1000px; margin:0 auto;}

.m-navBar {
	width:1320px;
	margin:0 auto;
	height:50px;
	line-height:50px;
	background:#BC1D1D;
	color:#333;
}
.m-nav {
	position:relative;
	width:1320px;
	margin:0 auto;
	font-family:"Microsoft YaHei",SimSun,SimHei;
	font-size:14px;
}
.m-nav a {
	color:#fff;
}
.m-nav h3 {
	font-size:100%;
	font-weight:normal;
}
.m-nav .m {
	float:left;
	position:relative;
	z-index:1;
}
.m-nav .s {
	float:left;
	width:3px;
	text-align:center;
	color:#D4D4D4;
	font-size:12px;
	margin-top: 19px;
}
.m-nav h3 a {
	display:block;
	width:182px;
	text-align:center;
	font-weight:bold;
}
.m-nav .sub {
	display:none;
	position:absolute;
	left:-24px;
	top:50px;
	z-index:1;
	width:180px;
	border:1px solid #E6E4E3;
	border-top:0;
	background:#fff;
}
.m-nav .sub li {
	text-align:center;
	padding:0 8px;
	margin-bottom:-1px;
}
.m-nav .sub li a {
	display:block;
	border-bottom:1px solid #E6E4E3;
	padding:8px 0;
	height:28px;
	line-height:28px;
	color:#000;
	font-size:12px;
	font-weight:bold;
}
.m-nav .sub li a:hover {
	color:#FE7700;
}
.m-nav .block {
	height:8px;
	width:130px;
	background:#FE7700;
	position:absolute;
	left:0;
	top:42px;
	overflow:hidden;
}
/**menu end**/

/**language**/
.language-box{
	 position:relative;
	 text-align:center;
	 height:96px;
}
.language-box span{
  position:absolute;
  bottom:0px;
  padding:0px;
  margin:0px
}

.footer {
    text-align: center;
    padding: 30px 0px;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: #F5F5F5;
}

.footer p {
    margin-bottom: 0px;
    color: #777;
}

.footer-links {
    margin: 10px 0px;
}

.footer-links li:first-child {
    padding-left: 0px;
}

.footer-links li {
    display: inline;
    padding: 0px 2px;
}
